[submodule "libraries/U8g2_Arduino"]
	path = libraries/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino
[submodule "libraries/BME280"]
	path = libraries/BME280
	url = https://github.com/finitespace/BME280.git
[submodule "libraries/Adafruit_SGP30"]
	path = libraries/Adafruit_SGP30
	url = https://github.com/adafruit/Adafruit_SGP30
